body{
    margin:0;
    padding:0;
}
#log{

}
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert,
.alert h4 {
    color: #c09853;
}

.alert h4 {
    margin: 0;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #B94A49;
    border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
    color: #b94a48;
}

.ui-widget {
    font-family: Arial,sans-serif;
    font-size: .75em;
}
.ui-state-default {
    background: lightgrey !important;
}

.ui-widget-content a {
    text-decoration: none;
    font-size: 1em;
}


/*----------[ Ivana ]---------*/
#top {
    position: relative;
    height: 220px;
    background-image: url('../slike/logo.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    margin: 0px 0px 10px 0px;  
}

.title {
    float: left;
    color: #ff6600;
    margin-right: 40px;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 46px;
}

#top span {
    font-style: italic;
    font-weight: bold;
}

#top h1{
    color: brown;
    font-size: 32px;
    font-family: cursive;
}


#top img {
    border-radius: 5px;
}
#slike {
    /*width: 240px;*/
    margin-right: 5px;
    /*margin-top: 5px;*/
 
    height: 150px;
}
#korisnik{
    border: #eed3d7;
    border-style: groove;
    border-width: 5px;
}
#left {
    position: relative;
    float:left;
    width:250px;
    margin-bottom: 65px;
    padding-left: 15px;
}

#right {
    position: relative;
    float:right;
    width:200px;
    margin-bottom: 10px;
    padding-right: 10px;
    /*background-color: green;*/
   

}

#bottom {
    clear: both;
    position: relative;
    background-color: lightgrey;
    padding-top: 5px;  
    padding-bottom: 30px;
    height: 15px;
}

#right submenu{
    border: 5px solid #ff6600;
}

#right h3 {
    font-size: 15px;
    margin-bottom: 5px;
    /*padding-top: 5px;*/
    /*background-color: highlight;*/
    background-color: lightgrey;
}
.ui-panelmenu-content{
    margin-top: 1px!important;
    border-top: 1px lightgrey !important;
    margin-bottom: 10px;
}



#right li{
    font-size:14px;
}

#right a:hover {
    background-color: #f2dede;
}
#Alog {
    background-color: lightgrey;
    height:30px;
    margin-bottom: 3px;
}
#content {
    width:80%;
    margin-left: 305px;

}
.ui-panel-titlebar{
    font-size: 18px;
    height:20px;
    background-color: lightgrey;
}
.ui-panel{
    margin-bottom: 10px;
    font-size: 12px;
}

#clan{
    font-size: 14px;
}

.ui-panel input{
    margin-bottom: 10px;
}
.ui-datepicker {
    width: 200px;
    height:200px;
    font-size: 12px
}
.ui-inputtext{
    font-size: 12px!important
}

.ui-selectonemenu-item {
    font-size: 12px;
}

.ui-fileupload{
    width: 200px;
    margin-left: 50px;

}
.fileupload-buttonbar{
    font-size: 12px;
}
.ui-growl-title{
    font-size: 14px;
}
.ui-datatable {
    /*width: 600px;*/

}
.ui-state-default{
    background-color: lightgrey !important;
}
.ui-inputtext{
    background-color: white;
}
.ui-datatable-footer{
    background-color: whitesmoke;
    margin-left: 15px;
    
    
}
.ui-button{
    background-color: lightgrey!important;
}
.ui-widget-header{
    background-color: lightgrey!important;
}
.ui-button-text-icon-left{
    background-color: lightgrey;
}
.ui-datatable-header input{
    float:right;
}

.ui-datatable-header span{
    float:right;

}

.ui-dt-c{
    height:20px;   
}
.ui-dt-c span{
    font-size: 12px;
    float:left;
}

.ui-dt-c input{
    height:10px;
}
.ui-widget-content {
    font-size:14px;
}
.ui-datatable-data{
    height:50px;
}
.ui-datatable-footer{
    height:20px;
}
.ui-button{
    width:150px;  
}

.ui-button-text{
    font-size: 12px;
}

#ui-button{
    float:right;
}

.ui-spinner-button{
    width: 15px;
    padding: 0px;
}

.ui-spinner-input {
    width: 20px;
    height:20px;
}

.ui-panel input{
    margin-bottom: 0;
}

.ui-datepicker-trigger {
    width:50px;   
    margin-left: 5px;
}

#popupButtonCal_input{
    height:15px;
}
.ui-datepicker-trigger{
    margin-left: 5px;
}

.ui-selectmanycheckbox label{
    font-size: 12px;
    margin-top: -2px;
}


.ui-widget-content a{
    text-decoration: none;
    font-size: 1em;
}

#status {
    width: 200px;
    height: 300px;
}


.ui-datatable thead th{
    height: 20px;
}

.ui-dt-c{
    height: auto;
}

.ui-panelgrid {
    width:600px;
}
#formPretraga input{
    height: 20px;
}

#pocetna {
    font-family: Arial,sans-serif;
    color:#4f4f4f;
    font-size: 14px;
    padding-top: 0px;
}

#right{
    width:250px;
    height: 530px;
    /*background-color: yellowgreen;*/
}

#content {
    width: 690px;

}
.ui-panel-content{
    padding-top: 0px;
    
}
.ui-widget-content{
    padding: 0px;
    
}
#pacijent input {
    width:200px;
}

#login input{
    width: 500px; 
}

.uTabela {
    background-color: lightgrey!important;
}
.output{
    background-color: white!important;
}

.ui-datatable-data {
    background-color: white!important;
}
ui-datatable table {
    border-collapse: collapse;
    width: 95%;
}

.ui-inputfield{
    background-color: white!important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background-color: white!important;  
}

.ui-growl-item {
    background-color: lightgrey!important;
}